

#p_welcome_title {
	white-space:nowrap;
	display:inline;
	font-size:32px;
	font-weight:bold;
	font-family:"宋体",Arial,Times;
}

#p_welcome_child_title {
	white-space:nowrap;
	display:inline;
	font-size:18px;
	font-weight:bold;
	font-family:"宋体",Arial,Times;
}

/*
#bt_add_habitrack {
	height:36px;
	width:180px;
	background-image:url(../images/add32.png);
	background-color:#999999;
	background-repeat:no-repeat;
	background-position:10px;
	border:2px;
}
*/

